@import './../../styles/variables.scss';

.workWithUs {
  background-color: $c-light-cyan;
}
.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
.title {
  text-align: center;
  color: $c-eerie-black;
  font-weight: 600;
  font-size: 48px;
  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.block {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 160px;
  row-gap: 60px;
  @media (max-width: 1024px) {
    column-gap: 50px;
  }
  @media (max-width: 768px) {
    row-gap: 30px;
  }
}
.image {
  width: 140px;
  @media (max-width: 768px) {
    width: 120px;
  }
}
