// colors
$c-black: #000000;
$c-white: #ffffff;
$c-eerie-black: #1a1a1a;
$c-brunswick-green2: #249169;
$c-brunswick-green: #235241;
$c-davys-grey: #5a5a5a;
$c-light-cyan: #e1fff4;
$c-honeydew: #e8ffea;
$c-golden-poppy: #f4c300;
$c-cal-poly-pomona-green: #185420;
$c-imperial: #4f2267;

// font-size
$fs-base: 16;

// font-family
$ff-base: 'Montserrat', sans-serif;

// transition
$tr-base: all 0.2s linear;
