@import './../../styles/variables.scss';

.navigationFooter {
  transition: $tr-base;
  position: relative;
  margin-left: 20px;
  @media (max-width: 768px) {
    margin-top: 15px;
    margin-left: 0;
  }
}
.title {
  z-index: 2;

  position: relative;
  user-select: none;
  font-weight: 600;
  font-size: 24px;
  color: $c-eerie-black;
  margin-bottom: 25px;

  @media (max-width: 1024px) {
    font-size: 18px;
    margin-bottom: 15px;
  }
  @media (max-width: 768px) {
    background-color: $c-light-cyan;
    display: block;
    width: calc(100vw - 40px);
    padding: 10px 20px;
    margin-bottom: 15px;
  }
}
.item {
  margin-bottom: 15px;
  @media (max-width: 1024px) {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.list {
  transition: $tr-base;
  @media (max-width: 768px) {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
.list_active {
  height: 100px;
  opacity: 1;
  &:nth-child(2) {
    height: 80px;
  }
}
.link {
  color: $c-davys-grey;
}
