@import './../../styles/variables.scss';

.wrapper {
  padding-top: 65px;
  padding-bottom: 65px;
}
.title {
  color: $c-eerie-black;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  max-width: 610px;
  @media (max-width: 480px) {
    font-size: 28px;
    line-height: 38px;
  }
}
.desc {
  color: $c-davys-grey;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
  line-height: 28px;
  max-width: 580px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
